@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@900&family=Open+Sans:wght@300&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Francois One', sans-serif;
    color: #222;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-size: 3.75rem;
    margin: 0;
}

.navbar-name {
    margin: 0;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
}

.onom {
    align-items: center;
    font-weight: 900;
}

.article {
    font-family: 'Open Sans';
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

.carousel-caption h5 {
    font-size: 250%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption p {
    font-size: 100%;
    text-shadow: 1px 1px 10px #000;
}

#link {
    color: #008566;
}

/* Media Queries */
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}



/* Screen Size Referrence:
<576px extra small devices - portrait phones(xs)
576px small devices - landscape phones(sm)
768px medium devices - tablets (md)
992px large devices - laptops (lg)
1200px extra large devices - desktops (xl)